examples/ksef-complete-flow.json
[
  {
    "id": "5fd08e89c4943129",
    "type": "comment",
    "z": "4f3ed2069a770f00",
    "name": "── UWIERZYTELNIENIE (auto przy starcie) ──────────────────────────────────────",
    "info": "",
    "x": 600,
    "y": 820,
    "wires": []
  },
  {
    "id": "36ee0a435b8819e8",
    "type": "inject",
    "z": "4f3ed2069a770f00",
    "name": "Uruchom przy starcie",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "payload": "",
    "payloadType": "date",
    "x": 440,
    "y": 880,
    "wires": [["9b8a397e4018421c"]]
  },
  {
    "id": "9b8a397e4018421c",
    "type": "authentication",
    "z": "4f3ed2069a770f00",
    "base_url": "https://api-demo.ksef.mf.gov.pl",
    "debug": false,
    "verify_certificate_chain": true,
    "subject_identifier_type": "certificateSubject",
    "context_identifier_type": "Nip",
    "context_identifier_value": "",
    "auth_status_polling_max_retries": "5",
    "auth_status_polling_initial_interval": "1000",
    "key_file_path": "",
    "cert_file_path": "",
    "algo_type": "ECDSA",
    "x": 660,
    "y": 880,
    "wires": [["787f901062835c47"], ["e0469ae6e16555f8"]]
  },
  {
    "id": "787f901062835c47",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Zapisz tokeny",
    "func": "// ksef-auth zwraca:\n// msg.payload = { accessToken, accessTokenValidUntil, refreshToken, refreshTokenValidUntil }\nflow.set(\"accessToken\", msg.payload.accessToken);\nflow.set(\"accessTokenValidUntil\", msg.payload.accessTokenValidUntil);\nflow.set(\"refreshToken\", msg.payload.refreshToken);\nflow.set(\"refreshTokenValidUntil\", msg.payload.refreshTokenValidUntil);\n\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: \"Token ważny do: \" + new Date(msg.payload.accessTokenValidUntil).toLocaleTimeString()\n});\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 880,
    "wires": [["e041e8c346178dc2"]]
  },
  {
    "id": "e041e8c346178dc2",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Przekaż token do sync",
    "func": "// invoices-metadata-hwm-sync-node oczekuje:\n// msg.topic = \"authToken\"\n// msg.payload.accessToken.token = string\nreturn {\n    topic: \"authToken\",\n    payload: {\n        accessToken: {\n            token: msg.payload.accessToken\n        }\n    }\n};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1120,
    "y": 880,
    "wires": [["c88374d2abb55375"]]
  },
  {
    "id": "e0469ae6e16555f8",
    "type": "debug",
    "z": "4f3ed2069a770f00",
    "name": "Błąd autentykacji",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 940,
    "wires": []
  },
  {
    "id": "656e23f6a1eed4ca",
    "type": "comment",
    "z": "4f3ed2069a770f00",
    "name": "── ODŚWIEŻANIE TOKENU (co 5 minut, gdy wygaśnie za < 5 min) ─────────────────",
    "info": "",
    "x": 620,
    "y": 1000,
    "wires": []
  },
  {
    "id": "a1164b0d7e886b33",
    "type": "inject",
    "z": "4f3ed2069a770f00",
    "name": "Co 5 minut",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "payload": "",
    "payloadType": "date",
    "x": 420,
    "y": 1060,
    "wires": [["8ab12cb68ccd4d0e"]]
  },
  {
    "id": "8ab12cb68ccd4d0e",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Sprawdź ważność tokenu",
    "func": "const accessToken = flow.get(\"accessToken\");\nconst validUntil = flow.get(\"accessTokenValidUntil\");\nconst refreshToken = flow.get(\"refreshToken\");\n\nif (!accessToken || !validUntil || !refreshToken) {\n    node.warn(\"Brak tokenów – uruchom najpierw autentykację\");\n    return null;\n}\n\nconst expiresAt = new Date(validUntil).getTime();\nconst now = Date.now();\nconst bufferMs = 5 * 60 * 1000; // 5-minutowy zapas\n\nif (expiresAt - now > bufferMs) {\n    const minutesLeft = Math.round((expiresAt - now) / 60000);\n    node.status({ fill: \"green\", shape: \"dot\", text: \"OK – ważny jeszcze \" + minutesLeft + \" min\" });\n    return null; // token wciąż ważny\n}\n\n// Token wkrótce wygaśnie – odświeżamy\nnode.status({ fill: \"yellow\", shape: \"ring\", text: \"Odświeżanie...\" });\n// refresh-token-node oczekuje: msg.accessToken = wartość REFRESH tokenu\nreturn { accessToken: refreshToken };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 1060,
    "wires": [["6cd14e0b3e2c17b8"]]
  },
  {
    "id": "6cd14e0b3e2c17b8",
    "type": "refresh-token",
    "z": "4f3ed2069a770f00",
    "base_url": "https://api-demo.ksef.mf.gov.pl",
    "debug": false,
    "x": 900,
    "y": 1060,
    "wires": [["24338b394f758eca"], ["aca79af7dd062046"]]
  },
  {
    "id": "24338b394f758eca",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Aktualizuj access token",
    "func": "// refresh-token-node zwraca:\n// msg.payload = { newTokenValue, newTokenValidUntil }\nflow.set(\"accessToken\", msg.payload.newTokenValue);\nflow.set(\"accessTokenValidUntil\", msg.payload.newTokenValidUntil);\n\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: \"Odświeżono, ważny do: \" + new Date(msg.payload.newTokenValidUntil).toLocaleTimeString()\n});\n\n// Poinformuj węzeł synchronizacji o nowym tokenie\nreturn {\n    topic: \"authToken\",\n    payload: {\n        accessToken: {\n            token: msg.payload.newTokenValue\n        }\n    }\n};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1140,
    "y": 1060,
    "wires": [["c88374d2abb55375"]]
  },
  {
    "id": "aca79af7dd062046",
    "type": "debug",
    "z": "4f3ed2069a770f00",
    "name": "Błąd odświeżania",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1140,
    "y": 1120,
    "wires": []
  },
  {
    "id": "8484d4ee02825fa7",
    "type": "comment",
    "z": "4f3ed2069a770f00",
    "name": "── WYSYŁANIE FAKTURY (init-session → wyślij → close-session) ─────────────────",
    "info": "",
    "x": 620,
    "y": 1180,
    "wires": []
  },
  {
    "id": "62b0c09deafcc218",
    "type": "inject",
    "z": "4f3ed2069a770f00",
    "name": "Wyślij fakturę",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "",
    "payloadType": "date",
    "x": 420,
    "y": 1240,
    "wires": [["53cd0df05c4e0f40"]]
  },
  {
    "id": "53cd0df05c4e0f40",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Pobierz token",
    "func": "const accessToken = flow.get(\"accessToken\");\nif (!accessToken) {\n    node.error(\"Brak tokenu – uruchom najpierw autentykację\");\n    return null;\n}\n// ksef-init-session oczekuje: msg.accessToken = string\nreturn { accessToken };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 1240,
    "wires": [["d9e0eef4c7eae0b2"]]
  },
  {
    "id": "d9e0eef4c7eae0b2",
    "type": "init-interactive-session",
    "z": "4f3ed2069a770f00",
    "base_url": "https://api-demo.ksef.mf.gov.pl",
    "debug": false,
    "form_code_system_code": "FA (3)",
    "form_code_schema_version": "1-0E",
    "form_code_value": "FA",
    "x": 780,
    "y": 1240,
    "wires": [["3f58fdf46f809e1e"], ["c1505f9a5c05df2e"]]
  },
  {
    "id": "3f58fdf46f809e1e",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Generuj XML i przygotuj wysyłkę",
    "func": "// ksef-init-session zwraca:\n// msg.payload.initSessionResult = { referenceNumber, aesKeyBase64, ivBase64 }\nconst initResult = msg.payload.initSessionResult;\n\nconst now = new Date();\nconst dateOnly = now.toISOString().slice(0, 10);\nconst dateTime = now.toISOString();\nconst year = now.getFullYear();\nconst random = Math.floor(100000 + Math.random() * 900000);\nconst invoiceNumber = `FA/${year}/${random}`;\nconst NIP=\"1111111111\"\n\nconst invoiceXml = `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Faktura xmlns:etd=\"http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/01/05/eD/DefinicjeTypy/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\nxmlns=\"http://crd.gov.pl/wzor/2025/06/25/13775/\">\n\\t<Naglowek>\n\\t\\t<KodFormularza kodSystemowy=\"FA (3)\" wersjaSchemy=\"1-0E\">FA</KodFormularza>\n\\t\\t<WariantFormularza>3</WariantFormularza>\n\\t\\t<DataWytworzeniaFa>${dateTime}</DataWytworzeniaFa>\n\\t\\t<SystemInfo>NodeRedKSeFExample</SystemInfo>\n\\t</Naglowek>\n\\t<Podmiot1>\n\\t\\t<DaneIdentyfikacyjne>\n\\t\\t\\t<NIP>${NIP}</NIP>\n\\t\\t\\t<Nazwa>Przykładowy Sprzedawca sp. z o.o.</Nazwa>\n\\t\\t</DaneIdentyfikacyjne>\n\\t\\t<Adres>\n\\t\\t\\t<KodKraju>PL</KodKraju>\n\\t\\t\\t<AdresL1>ul. Testowa 1</AdresL1>\n\\t\\t\\t<AdresL2>00-001 Warszawa</AdresL2>\n\\t\\t</Adres>\n\\t\\t<DaneKontaktowe>\n\\t\\t\\t<Email>sprzedawca@example.pl</Email>\n\\t\\t\\t<Telefon>111222333</Telefon>\n\\t\\t</DaneKontaktowe>\n\\t</Podmiot1>\n\\t<Podmiot2>\n\\t\\t<DaneIdentyfikacyjne>\n\\t\\t\\t<NIP>8976999999</NIP>\n\\t\\t\\t<Nazwa>F.H.U. Jan Kowalski</Nazwa>\n\\t\\t</DaneIdentyfikacyjne>\n\\t\\t<Adres>\n\\t\\t\\t<KodKraju>PL</KodKraju>\n\\t\\t\\t<AdresL1>ul. Polna 1</AdresL1>\n\\t\\t\\t<AdresL2>00-001 Warszawa</AdresL2>\n\\t\\t</Adres>\n\\t\\t<DaneKontaktowe>\n\\t\\t\\t<Email>jan@kowalski.pl</Email>\n\\t\\t\\t<Telefon>555777999</Telefon>\n\\t\\t</DaneKontaktowe>\n\\t\\t<NrKlienta>fdfd778343</NrKlienta>\n\\t\\t<JST>2</JST>\n\\t\\t<GV>2</GV>\n\\t</Podmiot2>\n\\t<Fa>\n\\t\\t<KodWaluty>PLN</KodWaluty>\n\\t\\t<P_1>${dateOnly}</P_1>\n\\t\\t<P_1M>Warszawa</P_1M>\n\\t\\t<P_2>${invoiceNumber}</P_2>\n\\t\\t<P_6>${dateOnly}</P_6>\n\\t\\t<P_13_1>813.01</P_13_1>\n\\t\\t<P_14_1>186.99</P_14_1>\n\\t\\t<P_15>1000.00</P_15>\n\\t\\t<Adnotacje>\n\\t\\t\\t<P_16>2</P_16>\n\\t\\t\\t<P_17>2</P_17>\n\\t\\t\\t<P_18>2</P_18>\n\\t\\t\\t<P_18A>2</P_18A>\n\\t\\t\\t<Zwolnienie><P_19N>1</P_19N></Zwolnienie>\n\\t\\t\\t<NoweSrodkiTransportu><P_22N>1</P_22N></NoweSrodkiTransportu>\n\\t\\t\\t<P_23>2</P_23>\n\\t\\t\\t<PMarzy><P_PMarzyN>1</P_PMarzyN></PMarzy>\n\\t\\t</Adnotacje>\n\\t\\t<RodzajFaktury>VAT</RodzajFaktury>\n\\t\\t<FaWiersz>\n\\t\\t\\t<NrWierszaFa>1</NrWierszaFa>\n\\t\\t\\t<UU_ID>aaa0000000000001</UU_ID>\n\\t\\t\\t<P_7>Usługa konsultingowa</P_7>\n\\t\\t\\t<P_8A>godz.</P_8A>\n\\t\\t\\t<P_8B>10</P_8B>\n\\t\\t\\t<P_9A>81.30</P_9A>\n\\t\\t\\t<P_11>813.01</P_11>\n\\t\\t\\t<P_12>23</P_12>\n\\t\\t</FaWiersz>\n\\t\\t<Platnosc>\n\\t\\t\\t<Zaplacono>1</Zaplacono>\n\\t\\t\\t<DataZaplaty>${dateOnly}</DataZaplaty>\n\\t\\t\\t<FormaPlatnosci>6</FormaPlatnosci>\n\\t\\t</Platnosc>\n\\t</Fa>\n</Faktura>`;\n\n// ksef-send-invoice oczekuje:\n// { accessToken, invoiceXml, aesKey (base64), iv (base64), referenceNumber sesji }\nreturn {\n    accessToken: flow.get(\"accessToken\"),\n    invoiceXml,\n    aesKey: initResult.aesKeyBase64,\n    iv: initResult.ivBase64,\n    referenceNumber: initResult.referenceNumber\n};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 1240,
    "wires": [["d9637c5b0d4c3200"]]
  },
  {
    "id": "d9637c5b0d4c3200",
    "type": "send-invoice",
    "z": "4f3ed2069a770f00",
    "base_url": "https://api-demo.ksef.mf.gov.pl",
    "debug": false,
    "invoice_status_polling_max_retries": "10",
    "invoice_status_polling_initial_interval": "2000",
    "x": 1280,
    "y": 1240,
    "wires": [["c1764c0a9f9e8ced"], ["c1505f9a5c05df2e"]]
  },
  {
    "id": "c1764c0a9f9e8ced",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Przygotuj zamknięcie sesji",
    "func": "// ksef-send-invoice zwraca:\n// msg.payload.sendInvoiceResult = { ksefNumber, ... }\n// msg.originalMsg = oryginalna wiadomość (zawiera referenceNumber sesji)\nconst sendResult = msg.payload.sendInvoiceResult;\nnode.log(\"Faktura wysłana, numer KSeF: \" + sendResult.ksefNumber);\n\n// ksef-close-session oczekuje: { accessToken, referenceNumber }\nreturn {\n    accessToken: flow.get(\"accessToken\"),\n    referenceNumber: msg.originalMsg.referenceNumber\n};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1520,
    "y": 1240,
    "wires": [["e3f2f52825e5897c"]]
  },
  {
    "id": "e3f2f52825e5897c",
    "type": "close-interactive-session",
    "z": "4f3ed2069a770f00",
    "base_url": "https://api-demo.ksef.mf.gov.pl",
    "debug": false,
    "x": 1740,
    "y": 1240,
    "wires": [["74dee087f8c2fd7f"], ["c1505f9a5c05df2e"]]
  },
  {
    "id": "74dee087f8c2fd7f",
    "type": "debug",
    "z": "4f3ed2069a770f00",
    "name": "Faktura wysłana OK",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1960,
    "y": 1240,
    "wires": []
  },
  {
    "id": "c1505f9a5c05df2e",
    "type": "debug",
    "z": "4f3ed2069a770f00",
    "name": "Błąd wysyłki",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1280,
    "y": 1320,
    "wires": []
  },
  {
    "id": "93f9457e5d00ad38",
    "type": "comment",
    "z": "4f3ed2069a770f00",
    "name": "── SYNCHRONIZACJA (HWM) + POBIERANIE + WIZUALIZACJA ─────────────────────────",
    "info": "",
    "x": 620,
    "y": 1380,
    "wires": []
  },
  {
    "id": "607a3e7ee914aae3",
    "type": "inject",
    "z": "4f3ed2069a770f00",
    "name": "Uruchom sync",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "",
    "payloadType": "date",
    "x": 420,
    "y": 1440,
    "wires": [["c8fd57a571baf84e"]]
  },
  {
    "id": "c8fd57a571baf84e",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Ustaw datę startową",
    "func": "// Synchronizuj faktury z ostatnich 7 dni (dostosuj wg potrzeb)\nmsg.topic = \"from\";\nmsg.payload = {\n    dateFrom: new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString()\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 1440,
    "wires": [["c88374d2abb55375"]]
  },
  {
    "id": "1669bd42a01a15c5",
    "type": "inject",
    "z": "4f3ed2069a770f00",
    "name": "Zatrzymaj sync",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "",
    "payloadType": "date",
    "x": 420,
    "y": 1520,
    "wires": [["6c9e1efbfb8662fe"]]
  },
  {
    "id": "6c9e1efbfb8662fe",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Zatrzymaj sync",
    "func": "msg.topic = \"stop\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 1520,
    "wires": [["c88374d2abb55375"]]
  },
  {
    "id": "c88374d2abb55375",
    "type": "invoices-metadata-hwm-sync",
    "z": "4f3ed2069a770f00",
    "base_url": "https://api-demo.ksef.mf.gov.pl",
    "debug": false,
    "sync_interval_minutes": "15",
    "subject_type": "Subject1",
    "date_type": "PermanentStorage",
    "date_to": "",
    "restrict_to_hwm": true,
    "ksef_number": "",
    "invoice_number": "",
    "amount_type": "",
    "amount_from": null,
    "amount_to": null,
    "seller_nip": "",
    "buyer_identifier_type": "",
    "buyer_identifier_value": "",
    "currency_codes": "",
    "invoicing_mode": "",
    "is_self_invoicing": false,
    "form_type": "",
    "invoice_types": "",
    "has_attachment": false,
    "x": 880,
    "y": 1480,
    "wires": [["13b96c13fcaea2a8"], ["2391de1fa8dddf7a"]]
  },
  {
    "id": "13b96c13fcaea2a8",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Przygotuj pobieranie",
    "func": "// invoices-metadata-hwm-sync-node zwraca:\n// msg.payload = InvoiceMetadata { ksefNumber, invoiceNumber, issueDate, ... }\nconst invoice = msg.payload;\nconst accessToken = flow.get(\"accessToken\");\n\nif (!accessToken) {\n    node.warn(\"Brak tokenu – sprawdź autentykację\");\n    return null;\n}\n\nif (!invoice.ksefNumber) {\n    node.warn(\"Faktura bez numeru KSeF – pomijam\");\n    return null;\n}\n\n// download-invoice-node oczekuje: { ksefNumber, authToken, payload: InvoiceMetadata }\nreturn {\n    ksefNumber: invoice.ksefNumber,\n    authToken: accessToken,\n    payload: invoice\n};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1100,
    "y": 1480,
    "wires": [["a8bdf7b17a5f42bb"]]
  },
  {
    "id": "a8bdf7b17a5f42bb",
    "type": "download-invoice",
    "z": "4f3ed2069a770f00",
    "base_url": "https://api-demo.ksef.mf.gov.pl",
    "debug": false,
    "x": 1340,
    "y": 1420,
    "wires": [["633162858092992a"], ["2391de1fa8dddf7a"]]
  },
  {
    "id": "633162858092992a",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Przygotuj wizualizację",
    "func": "const meta = msg.payload.decodedMsg;\n\n// Formatujemy datę wystawienia na DD-MM-RRRR\nconst issueDateObj = new Date(meta.issueDate);\nconst day = String(issueDateObj.getDate()).padStart(2, '0');\nconst month = String(issueDateObj.getMonth() + 1).padStart(2, '0');\nconst year = issueDateObj.getFullYear();\nconst issueDate = `${day}-${month}-${year}`;\n\n// Generujemy URL QR\nconst qrCodeURL = `https://qr-demo.ksef.mf.gov.pl/invoice/${meta.seller.nip}/${issueDate}/${meta.invoiceHash}`;\n\n// Zwracamy gotowy obiekt\nreturn {\n    xml: msg.payload.invoiceTxt,\n    ksefNumber: meta.ksefNumber,\n    qrCodeURL: qrCodeURL,\n    isMobile: \"false\"\n};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1640,
    "y": 1400,
    "wires": [["4478802993d66fbe"]]
  },
  {
    "id": "4478802993d66fbe",
    "type": "invoice-visualization",
    "z": "4f3ed2069a770f00",
    "base_url": "",
    "x": 1760,
    "y": 1480,
    "wires": [["dbda1ff9a9ee4b85"], ["2391de1fa8dddf7a"]]
  },
  {
    "id": "dbda1ff9a9ee4b85",
    "type": "function",
    "z": "4f3ed2069a770f00",
    "name": "Pakuj PDF do HTML",
    "func": "const base64pdf = msg.payload;\nmsg.headers = { \"Content-Type\": \"text/html\" };\nmsg.payload = `<!DOCTYPE html>\n<html lang=\"pl\">\n<head><meta charset=\"UTF-8\"><title>Faktura KSeF</title></head>\n<body style=\"margin:0\">\n  <embed src=\"data:application/pdf;base64,${base64pdf}\" type=\"application/pdf\" width=\"100%\" height=\"100%\" style=\"position:absolute;top:0;left:0;width:100%;height:100%\">\n</body>\n</html>`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1960,
    "y": 1480,
    "wires": [["93285f9863de7c69"]]
  },
  {
    "id": "93285f9863de7c69",
    "type": "file",
    "z": "4f3ed2069a770f00",
    "name": "Zapisz /tmp/faktura.html",
    "filename": "/tmp/faktura.html",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 2190,
    "y": 1480,
    "wires": [[]]
  },
  {
    "id": "2391de1fa8dddf7a",
    "type": "debug",
    "z": "4f3ed2069a770f00",
    "name": "Błąd sync/pobierania",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1140,
    "y": 1560,
    "wires": []
  },
  {
    "id": "0a422e1c2d8a1bf8",
    "type": "global-config",
    "env": [],
    "modules": {
      "@michalkuzma01/node-red-ksef": "0.0.3"
    }
  }
]
